@import 'nib';

@font-face {
  font-family: 'Fresca';
  font-style: normal;
  font-weight: 400;
  src: local('Fresca-Regular'), url('http://themes.googleusercontent.com/static/fonts/fresca/v2/0g0OM5y6slfdHcIfr5XnxevvDin1pK8aKteLpeZ5c0A.woff') format('woff');
}

@font-face {
  font-family: 'Peralta';
  font-style: normal;
  font-weight: 400;
  src: local('Peralta'), local('Peralta-Regular'), url('http://themes.googleusercontent.com/static/fonts/peralta/v1/KA2KMFcRb4GJICetU6Rd5Q.woff') format('woff');
}

//	MIXINS
////////////////////////////

center() {
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

ipad() {
	width:1024px;
	height:672px;
}

//	GENERAL
////////////////////////////

body {
	font-family: Arial;
	background-color: #EEE;
	height: 100%;
}

h1, h2, h3, h4, h5 {
	font-family: "Fresca";
}

a {
	text-decoration: none;
}