@import "compass/css3";

@font-face {
    font-family: 'HighlandsRegular';
    src: url('/app!common/fonts/highlands-regular-webfont.eot');
    src: url('/app!common/fonts/highlands-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/app!common/fonts/highlands-regular-webfont.woff') format('woff'),
         url('/app!common/fonts/highlands-regular-webfont.ttf') format('truetype'),
         url('/app!common/fonts/highlands-regular-webfont.svg#HighlandsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


//	MIXINS
////////////////////////////

@mixin center
{
	width: 980px;
	margin: 0 auto;
	position: relative;
}

@mixin block
{
	@include border-radius(8px);
	background: #FFF;
	@include box-shadow(0 0 10px #333);
}

//	GENERAL
////////////////////////////

html
{
	// height: 100%;
}

body
{
	font-family: Arial;
	// background: url("/app!common/textures/45degreee_fabric.png");
	background: #EEE;
	height: 100%;
}

h1,h2,h3,h4,h5
{
	font-family: HighlandsRegular;
	text-transform: uppercase;
}

#content
{
	@include center();
}



a{
	text-decoration: none;
}